<!-- PROFILE PAGE -->
<div class="row">
    <!-- <div class="col-md-2 sidebar">
        <ul>
            <li><a ui-sref="">My Account<span class="pull-right"><i class="fas fa-user"></i></span></a></li>
            <li><a ui-sref="">e-KYC<span class="pull-right"><i class="fas fa-bolt"></i></span></a></li>
        </ul>
    </div> -->
    <div class="col-md-9">
        <div class="text-uppercase">
        <p class="mr5 display-inline"><b>Acccount Status:</b>&nbsp;PENDING</p>
        <p class="display-inline"><b>Acccount Created On:</b>&nbsp;PENDING</p>
    </div>
    </div>
</div>