
<div class="kyc">
    <!-- SIDEBAR -->
    <div class="nav-side-menu">
        <div class="brand">Brand Logo</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="#">
                        <i class="fa fa-gift fa-lg"></i> UI Elements
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active">
                        <a href="#">CSS3 Animation</a>
                    </li>
                    <li>
                        <a href="#">General</a>
                    </li>
                    <li>
                        <a href="#">Buttons</a>
                    </li>
                    <li>
                        <a href="#">Tabs & Accordions</a>
                    </li>
                    <li>
                        <a href="#">Typography</a>
                    </li>
                    <li>
                        <a href="#">FontAwesome</a>
                    </li>
                    <li>
                        <a href="#">Slider</a>
                    </li>
                    <li>
                        <a href="#">Panels</a>
                    </li>
                    <li>
                        <a href="#">Widgets</a>
                    </li>
                    <li>
                        <a href="#">Bootstrap Model</a>
                    </li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#">
                        <i class="fa fa-globe fa-lg"></i> Services
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>New Service 1</li>
                    <li>New Service 2</li>
                    <li>New Service 3</li>
                </ul>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#">
                        <i class="fa fa-car fa-lg"></i> New
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>
                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> Users
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- MAIN BODY-->
    <div class="main">
        <div class="details">
            <!-- ACCOUNT INFORMATION -->
            <div class="account text-uppercase">
                <div class="heading">
                    <p class="mr-5 display-inline">
                        Acccount Status:&nbsp;PENDING</p>
                    <p class="display-inline">
                        Acccount Created On:&nbsp;PENDING</p>
                </div>
            </div>
        </div>

        <!-- SAVE AND PROCESS -->
        <div class="details">
            <div class="row">
                <div class="col-md-6">
                    <p>KYC Verification Process</p>
                    <p>KYC Steps</p>
                    <ol>
                        <li>Fill in your KYC details and bank account information.</li>
                        <li>Review and Submit the KYC application.</li>
                    </ol>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-primary text-uppercase">Save & Process</button>
                </div>
            </div>
        </div>

        <!-- PERSONAL INFO -->
        <div class="details">
            <div class="row">
                <div class="col-md-6">
                    <p>Personal Info</p>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fas fa-cog"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-pencil-alt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-times"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sub-details">
                <div class="row">
                    <div class="col-sm-2">
                        <p>First Name</p>
                    </div>
                    <div class="col-sm-9">
                        Nayan
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p>Last Name</p>
                    </div>
                    <div class="col-sm-9">
                        Mhatre
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p>Email</p>
                    </div>
                    <div class="col-sm-9">
                        sample@gmail.com
                    </div>
                </div>
            </div>
        </div>

        <!-- KYC Details Form-->
        <div class="details">
            <div class="row">
                <div class="col-md-6">
                    <p>KYC Details</p>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fas fa-cog"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-pencil-alt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-times"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sub-details">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Date of Birth</label>
                        </div>
                        <div class="form-group col-md-3">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions"
                                    ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn" ng-click="open2()">
                                        <i class="fa-svg-icon">
                                            <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"
                                                />
                                            </svg>
                                        </i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Pan Number</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="pan">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Aadhar Card</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="aadhar">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Full Name
                                <small>As On Pan Card</small>
                            </label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Gross Annual Income</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="income">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Residential Status</small>
                            </label>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <a href ng-repeat="choice in items" class="dropdown-item">
                                    {{choice}}
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- KYC DOCUMENTS -->
        <div class="details">
            <p class="font-weight-bold text-uppercase">KYC Documents</p>
            <div class="row">
                <div class="col-md-4">
                    <h6 class="text-uppercase">PAN CARD</h6>
                    <p>Required as IT Department norms</p>
                    <p>Maximum File Size: 3.5MB</p>
                    <p>Accepted Formats: JPG, PNG</p>
                    <a ui-sref="">View Sample</a>
                    <div>
                        <button type="button" class="btn btn-primary text-uppercase">Choose File</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 class="text-uppercase">AADHAR CARD</h6>
                    <p>Required as IT Department norms</p>
                    <p>Maximum File Size: 3.5MB</p>
                    <p>Accepted Formats: JPG, PNG</p>
                    <a ui-sref="">View Sample</a>
                    <div>
                        <button type="button" class="btn btn-primary text-uppercase">Choose File</button>
                        <button type="button" class="btn btn-primary text-uppercase">Choose File</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 class="text-uppercase">Passport Size Photo</h6>
                    <p>Required as IT Department norms</p>
                    <p>Maximum File Size: 3.5MB</p>
                    <p>Accepted Formats: JPG, PNG</p>
                    <a ui-sref="">View Sample</a>
                    <div>
                        <button type="button" class="btn btn-primary text-uppercase">Choose File</button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p>
                    <b>NOTE:</b> These documents are required for your KYC complete account</p>
            </div>
        </div>

        <!-- Bank Details Form-->
        <div class="details">
            <div class="row">
                <div class="col-md-6">
                    <p>Bank Details</p>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fas fa-cog"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-pencil-alt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-times"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="sub-details">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="ifsc">IFSC Code</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="ifsc">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Repeat Account Number</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="repeataccount">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Bank Name</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="bank-name">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Account Holder's Name</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="account-holder">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Branch Name</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="branch-name">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Account Type</small>
                                </label>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <a href ng-repeat="choice in items" class="dropdown-item">
                                        {{choice}}
                                    </a>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Account Number</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="account">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Mobile Number</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="mobile">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>