<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Fees Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Apply to List</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                <ul class="nav text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Login or Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Join Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <small>&copy; 2017-{{template.year}} ccxchange.com All Right Resvered.</small>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <small> 2018-03-17 12:52:41 24h Volume： 1,917,869.90 BNB/78,712.45 BTC/186,002.62 ETH/415,897,138.59 USDT</small>
                </div>
            </div>
        </div>
    </div>
</footer>